<mat-selection-list #itemList [multiple]="false" (selectionChange)="onSelectionChange(itemList.selectedOptions.selected)">
  <mat-list-option *ngFor="let listItem of listItems" [value]="listItem._id">
    <div>
      <span>{{listItem.title}}</span>
      <span>{{listItem.description}}</span>
      <!-- available slots -->
      <!-- <span>{{listItem.description}}</span> -->
      <ng-container *ngIf='editMode'>
        <button (click)='deleteSprintReview($event, listItem._id)'>delete</button>
      </ng-container>
    </div>
  </mat-list-option>
</mat-selection-list>
