<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Short Description</th>
      <th scope="col">Avaliable Slots</th>
      <th scope="col" *ngIf="editMode">Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let listItem of listItems">
      <tr (click)='navigateToSprintReviewDetail(listItem._id)'>
        <td>{{listItem.title}}</td>
        <td>{{listItem.description}}</td>
        <td>{{listItem.remainingSlots}}</td>
        <td *ngIf="editMode">
          <button class="btn btn-sm btn-outline-danger" (click)='deleteSprintReview(listItem._id)'>Delete</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>