<!-- <mat-accordion>
    <mat-expansion-panel *ngFor="let listItem of listItems">
      <mat-expansion-panel-header>
        <mat-panel-title>
            {{listItem.title}}
        </mat-panel-title>
        <mat-panel-description>
          <span>{{listItem.description}}</span>
          <span>{{listItem.time}}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-item-detail></app-item-detail>
    </mat-expansion-panel>
</mat-accordion> -->

<mat-selection-list #itemList [multiple]="false" (selectionChange)="onSelectionChange(itemList.selectedOptions.selected)">
  <mat-list-option *ngFor="let listItem of listItems" [value]="listItem._id">
    <div>
      <span>{{listItem.title}}</span>
      <span>{{listItem.description}}</span>
      <span>{{listItem.startTime}}</span>
      <span>{{listItem.endTime}}</span>
      <button (click)='deleteSprintReview($event, listItem._id)'>delete</button>
    </div>
  </mat-list-option>
</mat-selection-list>
