#title {
    margin-top: 5px;
}

form {
    margin-top: 20px;
}

form > button {
    margin-right: 5px;
    margin-top: 10px;
    width: 200px;
}

form > label {
    font-size: medium;
}

form > input {
    width: 250px;
    height: 40px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: medium;
    margin-bottom: 10px;
}

#emptystate-message {
    font-size: large;
}

#error-message {
    color: red;
    font-size: medium;
    margin-top: 8px;
}