<app-header-bar></app-header-bar>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-12 text-center">
            <form (submit)="searchSprintReviews()" >
                <label>Sprint review starts later than</label>
                <br>
                <input name="minTime" type="datetime-local"  [(ngModel)]="filterCondition.minTime">
                <br>
                <label>before</label>
                <br>
                <input name="maxTime" type="datetime-local"  [(ngModel)]="filterCondition.maxTime">
                <br>
                <label>Organized by</label>
                <br>
                <input name="organizedBy"  [(ngModel)]="filterCondition.organizedBy">
                <br>
            
                <button type="submit" class="btn btn-md btn-info">Find</button>
                <br>
                <button routerLink="/dashboard" id="back-btn" class="btn btn-md btn-outline-secondary">Back To Dashboard</button>
                <br>
                <div id="error-message">{{errorMessage}}</div>
            </form>
        </div>
        <div class="col-md-8 col-sm-12">
            <h2 class="text-info text-center" id="title">Filtering Sprint Review</h2>
           
            <app-item-list [editMode]='editMode' 
                            [listItems]='listItems' 
                            (delete)='deleteSprintReview($event)'
                            (navigate)='navigateToSprintReviewDetail($event)'>
            </app-item-list>
            <div id="emptystate-message" class="text-center">{{itemListEmptyMessage}}</div>
        </div>
    </div>

</div>