.container {
    margin-top:200px;
    max-width: 500px;
}

label {
    font-size: large;
}

#errMsg {
    color: red;
    height: 10px;
    font-size: medium;
}

#submit-btn {
    width:100%;
    margin: 10px 0px;
}

#back-link {
    font-size: medium;
}