label {
    font-size: medium;
}

button {
    width: 150px;
}

.container {
    padding-top: 200px;
    max-width: 600px;
}

.errMsg {
    color: red;
    height: 10px;
    font-size: small;
    margin-bottom: 25px;
}
