<div class="container">
    <h2 class="text-center">Reset Password</h2>
    <form (submit)="resetPassword()" >
        <label class="label-info">Type your new password</label>
        <br>
        <input name="newPwd" type="password" class="form-control form-input" [(ngModel)]="newPassword">
        <br>
        <label class="label-info">Type your new password one more time</label>
        <br>
        <input name="confirmNewPwd" type="password" class="form-control form-input" [(ngModel)]="confirmNewPassword">
        <br>
    
        <p class="errMsg">{{errorMessage}}</p>
        <button type="submit" class="btn btn-md btn-info" >Submit</button>
    </form>
</div>