.errorMsg {
  color: red;
  font-size: medium;
  margin-left: 12px;
  height:20px;
}

#detail-table th, #detail-table td { 
  border-top: none !important; 
}

.form-group {
  margin-right: 8px;
}

#add-attendee-btn {
  margin-right: 5px;
}

#email-recipients-text-area {
  margin: 10px 0px;
  height: 85px;
}

.btn-navigation {
  margin: 20px 18px;
  width: 220px;
}