.time-input {
    max-width: 260px;
}

#create-btn {
    margin-right: 5px;
}

.datetime-err-msg {
    font-size: 75%;
    margin-top: 3px;
}

// ::ng-deep .mat-form-field {
//     width: 250px; 
// }