.time-input {
    width: 80%;
}

#create-btn {
    margin-right: 5px;
}

.datetime-err-msg {
    font-size: 75%;
    margin-top: 3px;
}

.form-field {
    width: 80%;
}

#detail-description-text-area {
    height: 80px;
}

.container{ 
    padding-top: 30px;
    padding-bottom: 18px;
}