<mat-list role="list">
    <mat-list-item role="listitem">
        Title: {{itemDetail.title}}
    </mat-list-item>
    <mat-list-item role="listitem">
        Available Slots: {{itemDetail.totalSlots - itemDetail.selfSignupAttendees.length}}
    </mat-list-item>
    <mat-list-item role="listitem">
        Organizor: {{itemDetail.organizer}}
    </mat-list-item>
    <mat-list-item role="listitem">
        Time: {{itemDetail.startTime}} - {{itemDetail.endTime}}
    </mat-list-item>
    <mat-list-item role="listitem">
        Description: {{itemDetail.description}}
    </mat-list-item>
    <!-- <mat-list-item role="listitem">
        Meeting Link: {{itemDetail.meetingLink}}
    </mat-list-item>  -->
</mat-list> 
<ng-container *ngIf='!userSignedUp'>
    <p>You've not signed up yet.</p>
    <button class="signunsignbtn" (click)='attendeeSignUp()'>Sign me up!</button>
</ng-container>
<ng-container *ngIf='userSignedUp'>
    <p>You've already signed up to this event.</p>
    <button class="signunsignbtn" (click)='attendeeUnregister()'>Remove me from attending</button>
</ng-container>