.example-spacer {
    flex: 1 1 auto;
}

#account-icon {
    font-size: 30px;
}

a :hover {
    cursor: pointer;
}

.mat-menu-item > .material-icons {
    font-size: 25px;
    position: relative;
    top: 6px;
}

.menu-option-text {
    font-size: 15px;
}

