<mat-toolbar color="primary">
    <a [matMenuTriggerFor]="menu">
        <span id="account-icon" class="material-icons">
            account_circle
        </span>
    </a>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink='/accountpromote'>
            <span class="material-icons">
                assignment_ind
            </span>
            <span class="menu-option-text">
                Promote me as administrator!
            </span>
        </button>
        <button mat-menu-item (click)='logOutUser()'>
            <span class="material-icons">
                power_settings_new
            </span>
            <span class="menu-option-text">
                Log out
            </span>
        </button>
    </mat-menu>
</mat-toolbar>