<div>
    Title: {{itemDetail.title}}
</div>
<!-- <div>
    Available Slots: {{itemDetail.totalSlots - itemDetail.selfSignupAttendees.length - itemDetail.administratorAddedAttendees.length}}
</div> -->
<div>
    Organizor: {{itemDetail.organizer}}
</div>
<div>
    Start Time: {{itemDetail.startTime}}
</div>
<div>
    End Time: {{itemDetail.endTime}}
</div>
<div>
    Description: {{itemDetail.description}}
</div>
<!-- <div>
    Attendees: {{itemDetail.selfSignupAttendees.concat(itemDetail.administratorAddedAttendees)}}
</div> -->
<!-- <div>
    Meeting Link: {{itemDetail.meetingLink}}
</div> -->