<div>
    Title: {{itemDetail.title}}
</div>
<div>
    Available Slots: {{itemDetail.totalSlots - itemDetail.selfSignupAttendees.length - itemDetail.administratorAddedAttendees.length}}
</div>
<div>
    Organizor: {{itemDetail.organizer}}
</div>
<div>
    DateTime: {{itemDetail.time}}
</div>
<div>
    Description: {{itemDetail.description}}
</div>
<div>
    Attendees: {{itemDetail.selfSignupAttendees.concat(itemDetail.administratorAddedAttendees)}}
</div>
<div>
    Meeting Link: {{itemDetail.meetingLink}}
</div>